@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.copy-url-success{
  cursor: wait;
}

.animate-fade-in-out {
  animation: fade-in-out 4s linear;
}
.animate-fade-in {
  animation: fade-in 1s linear;
}
.animate-fade-out {
  animation: fade-out 1s linear;
}

*::-webkit-scrollbar-track {
  background-color: #fefefe;
}

*::-webkit-scrollbar {
  width: 6px;
  background-color: #fefefe;
}

*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #F53855;
}

html {
  font-family: "Rubik", sans-serif;
  font-size: 82.5%;
}

body {
  @apply bg-white-500;
}

p {
  @apply text-black-500;
}

.animation-hover:after {
  background: none repeat scroll 0 0 transparent;
  content: "";
  height: 2px;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  @apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}

.animation-active:after {
  @apply left-0 w-full;
}

.animation-hover:hover:after {
  @apply left-0 w-full;
}

li.custom-list:before {
  content: "\2022";
  /* bullet point, for screen readers */
  text-indent: -9999999px;
  /* move the bullet point out of sight */

  width: 0.4em;
  height: 1em;
  background-repeat: no-repeat;

  background-size: 0.4em 0.7em;
  background-position: 0 0.3em;
  font-size: 300%;
  top: -0.35em;
  @apply absolute block;
}

li.circle-check:before {
  background-image: url("/assets/Icon/checklist.svg");
  left: -0.7em;
  top: -0.4em;
}

li.check:before {
  left: -0.5em;
  background-image: url("/assets/Icon/jam_check.svg");
  top: -0.5em;
  font-size: 400%;
}

/* Slideshow */
.slick-dots li {
  @apply inline-block;
}

.slick-dots span {
  @apply bg-gray-500;
}

.slick-dots .slick-active span {
  @apply bg-orange-500 rounded-l-full rounded-r-full w-12;
}

.st0 {
  fill: #0acf83
}

.st1 {
  fill: #a259ff
}

.st2 {
  fill: #f24e1e
}

.st3 {
  fill: #ff7262
}

.st4 {
  fill: #1abcfe
}